.news {

  &_container {
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    align-items: flex-start;
    gap: 30px;
  }

  &_info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.news_content {
  max-width: 1200px;
  width: 1000px;
}

